.App {
  text-align: center;
  height: 100%;
}

.App-logo {
  height: 40vmin;
}

#middle {
  position:relative;
  margin:0 auto;
  clear:left;
  height:auto;
  z-index: 0;
  text-align:center;/* Add This*/
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}


#root {
  height: 100%;
}
